<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>limitsDifference</key>
		<integer>7582</integer>
		<key>percentage</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<integer>17976</integer>
		<key>percentage</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<integer>28371</integer>
		<key>percentage</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<integer>39384</integer>
		<key>percentage</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<integer>49774</integer>
		<key>percentage</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<integer>254250</integer>
		<key>percentage</key>
		<real>9.300000000000001</real>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<integer>305100</integer>
		<key>percentage</key>
		<real>10.3</real>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<integer>508500</integer>
		<key>percentage</key>
		<real>11.3</real>
	</dict>
	<dict>
		<key>limitsDifference</key>
		<real>100000000</real>
		<key>percentage</key>
		<real>12.3</real>
	</dict>
</array>
</plist>
